 <!DOCTYPE html>
<html lang="fr">
        <head>
        <meta charset="utf-8" >
        <title>Accueil - Bio et zen</title>
        <link href="style.css" rel="stylesheet" >
        <link href="../style_diapo.css" rel="stylesheet">
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&display=swap');
        </style>
    </head>

    <body>
        
   
    <footer>
        <a href="legal.html">Informations légales</a>
    </footer>
    </body>
</html>
