<section>
    <h2>Les produits du moment&nbsp;!</h2>
        <div class="vogue">
            <div class="marge25"> <div class="cadre"><img src="photo/helychryse_italienne01.jpg" alt="photo d'hélychryse prise par Luigi Rignanese en 2005"></div>
                <h3 class="diffusion"><a href="he/helichryse.html" >HE d'hélichryse italienne</a></h3>
                    <p class="latin">Helichrysum italicum</p>
                <p class="description">Laissez-vous sséduire par son action <b>régénérante, rafraîchissante,</b>
                et <b>apaisante</b> sur la peau. Grâce à ses propriétés <b>antisceptique</b> et <b>anti-inflammatoire</b>, elle favorise
                la cicatrisation et réduit les éruptions cutannées.<br/>
                Stress, fatigue, anxiosité, fatigue nerveuse ou dépression : tout doit disparaître et cette huile vous y aidera&nbsp;!                        
            </div>
        
            
            <div class="marge25"><div class="cadre"><img src="photo/gaultherie01.jpg" alt="photo d'une gaulthérie par Keir Morse en 2010"></div>
                <h3 class="diffusion"><a href="he/gaultherie.html">HE de gaulthérie</a></h3>
                    <p class="latin">Gaultheria procumbens, G. fragrantissima</p>
                Très puissante, cette huile <b>thérapeutique</b> doit être utilisée avec parcimonie.
                Une toute petite quantité suffit à soulager la douleur et son parfum mentholé viendra éclircir vos idées.
                
            </div>
        </div>
</section>