
        <section>
            <h2>Produits recommandés&nbsp;!</h2>
                <p>
                    Pour profitez au mieux, voici nos recommandations&nbsp;
                </p>
                <div class="vogue">
                    <div class="marge25"> <div class="cadre"><img href="https://dummyimage.com/250x300/000/fff.jpg" alt="photo d'un flacon d'huile essentielle vide"></div>
                        <h3><a href="../accessoires/flacon.html" >Flacon vide</a></h3>
                        <p class="description">
                            Préparez vos recettes en mélangeant vos huiles&nbsp;: à vous le remède miracle contre le stress ou pour célébrer l'automne&nbsp;!   
                        </p>                    
                    </div>
                    <b><label for="quantite">Ajouter
                    <select name="quantite" id="quantite">
                        <option value="0" selected>0 flacon</option>
                        <option value="1">1 flacon</option>
                        <option value="2">2 flacons</option>
                        <option value="3">3 flacons</option>
                        <option value="4">4 flacons</option>
                        <option value="5">5 flacons</option>
                    </select> de 5ml d'huile essentielle de vide à 5&nbsp;€ au panier.</label></b>
                
                    
                    <div class="marge25"><div class="cadre"><img href="https://dummyimage.com/250x300/000/fff.jpg" alt="photo d'un diffuseur d'huile essentielle"></div>
                        <h3><a href="../accessoires/diffuseur.html" >Diffseur d'huile essentielle</a></h3>
                            <p>
                                Particulièrement efficace en diffusion par nébulisation, nous vous recommandons ce diffuseur à seulement 29,99&nbsp;€.
                            </p>
                            <b><label for="quantite">Ajouter
                        <select name="quantite" id="quantite">
                            <option value="0" selected>0 diffuseur</option>
                            <option value="1">1 diffuseur</option>
                            <option value="2">2 diffuseurs</option>
                            <option value="3">3 diffuseurs</option>
                            <option value="4">4 diffuseurs</option>
                            <option value="5">5 diffuseurs</option>
                        </select> au panier.</label></b>
                        
                        
                    </div>
                </div>
        </section>
