@media (max-width: 1300px)  {
    *{
        font-size: 1.15em;
        margin: 0.15em;
    }
    header{
    border: solid 0.15em;
    border-color: rgb(9, 95, 28);
    box-shadow: 0.3125em 0.3125em 0.125em rgba(7, 78, 4, 0.7);
    background-color: rgb(151, 238, 159);
    opacity: 1;
    position: sticky ;
    top: 0;
    
    }
    


/* navigation */

/*création d'un bandeau autour du menu nav */
    .menu_deroulant {
    display: flex;
    max-height: 6em;
    color: rgb(255, 255, 255);
    list-style: none;
    justify-content: space-around;
    flex-wrap: wrap;
    }

    .menu_deroulant li {
    max-height: max-content;
    border: 0.0625em solid rgba(8, 102, 14, 0.329);
    border-radius: 1.875em;
    margin-bottom: 0.3125em;
    background-color:#164B1B;
    box-shadow: 0.125em 0.125em 0.0625 rgba(9, 78, 15, 0.822);
    display: flex;
    align-items: center;
    justify-content: center;
    }

/* je décide de supprimer les sous-menus sur téléphone*/
.menu_deroulant .sous-nav li a{
  display: none;
}

/*mise en page des préssentation produit
img / txt / prix */
.apercu{
  display: flex;
  flex-wrap: wrap;
}

    .container{
        display:grid;
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1%;
        margin: 1.5625em;
        padding: 0.9375em;
        max-width: 18.75em;
        min-width: 100%;
  
    }

    .cadre {
    overflow: hidden;
    padding : 0.3125em ;
    width: 250px;
    height: 300px;
    grid-column: 3fr;
    grid-row: 1/4;
}

    .apercu > div > h2, .apercu > div >h3{
    font-size: 100%;
    grid-column:3/6;
    grid-row: 1/2;
    }

    .apercu > div > .latin{
    margin-top: -2%;
    grid-column: 3/6;
    grid-row: 2/3;
    }

    .apercu > div > .volume{

    margin-left: 0.625em;
    grid-column: 3/4;
    grid-row: 3/4;
    }

    .apercu > div > .prix{
        grid-column: 4/5;
    grid-row: 3/4;
    }

    .apercu > div > .quantite{
    grid-column: 5/6;
    grid-row: 3/4;
    margin-left: 0.625em;
    }

    .apercu > div > .details{
    grid-column:1/4 ;
    grid-row:4/5 ;
    }

    .vogue{
    display: flex;
    flex-wrap: wrap;
    min-width: 80%
}

    form{
        line-height: 150%;
    }
.reco{
  display:flex;
  flex-wrap: wrap;
}

    .bloc {
    min-width: 80%;
    margin: auto;
    margin-top: 0.625em;
    margin-bottom: 0.9375em;
    }
    }

@media (max-height:1300px) and (max-width: 1300px){
    header{
    border: solid 0.0625em;
    border-color: rgb(9, 95, 28);
    box-shadow: 0.3125em 0.3125em 0.125em rgba(7, 78, 4, 0.7);
    background-color: rgb(151, 238, 159);
    opacity: 1;
    position:relative;
    }
}