
* {
    /*police*/
  font-family: "Funnel Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 30px;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 1.5rem;
}

.latin {
    /*police*/
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  display: flex;
  justify-content: center;
}

body{
  margin-top: 1em;
  padding: 1em;
  text-align: justify;
}

header{
  border: solid 1px;
  border-color: rgb(9, 95, 28);
  box-shadow: 0.5em 0.5em 0.2em rgba(7, 78, 4, 0.7);
  background-color: rgb(151, 238, 159);
  opacity: 1;
  position: sticky ;
  top: 0;
}

h1, h2, h3, h3+.latin, .intro{
  text-align : center;
}

footer {
  border: solid 1px;
  border-color: rgb(9, 95, 28);
  box-shadow: 5px 5px 2px rgba(7, 78, 4, 0.7);
  background-color: rgb(151, 238, 159);
  height: 60px;
  display:flex;
  justify-content : center;
  align-items: center;
  margin-top: 10%;
}

footer a {
  text-decoration: none;
  color:rgb(255, 255, 255);
  font-size: small;
  border: solid 1px #164B1B;
  background-color:#164B1B;
  border-radius: 30px;
  margin-bottom: 5px;
  box-shadow: 2px 2px 1px rgba(9, 78, 15, 0.822);
  padding : 6px 10px;
}

/* accessibilité */
a:focus, button:focus, input:focus, textarea:focus{
  outline-color: rgb(164, 41, 221);
  outline-width: 0.8em;
  outline-style: double;
}

a{
  color:rgb(29, 29, 230);
}

a:visited{
  color:rgb(224, 52, 173);
}
/* navigation */

/*création d'un bandeau autour du menu nav */
.menu_deroulant {
  display: flex;
  max-height: 2em;
  color: rgb(255, 255, 255);
  list-style: none;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
}

.menu_deroulant li {
  border: 0.012em solid rgba(8, 102, 14, 0.329);
  border-radius: 1em;
  background-color:#164B1B;
  max-height: max-content;
}

/* je supprime les lignes sous les liens*/
.menu_deroulant li a {
  display: block;
  color:rgb(255, 255, 255);
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  border-style :none;
}

.menu_deroulant li a:hover {
  background-color: #d165f1ec;
  border-radius: 20px;
}

/*je cache les sous-menu*/
.menu_deroulant .sous-nav{
  list-style-type: none;
  display: none;
  position: absolute;
}

.menu_deroulant .sous-nav li a{
  display: block;
  color: #FFFFFFFF;
  text-decoration: none;
  background-color: rgba(7, 78, 4, 0.9);
  border-radius: 1em;
}

.menu_deroulant .sous-nav li a:hover{
  background-color: #e2494973;
}

.menu_deroulant li:hover .sous-nav{
  display: block;
}


/*mise en page des préssentation produit
img / txt / prix */
.apercu{
  display: inline-flex;
  flex-wrap: wrap;
}

/* contient le nom, l'img, les infos produit (prix, conditionnement, qté à ajouter)  des produits */
.container{
  display:grid;
  grid-template-columns: 15% 15% 35% 35%;
  grid-auto-columns: 50em;
  grid-gap: 0.5em;  
  margin: 2em;
  padding: 0.5em;
  max-width: 7em;
}


/*contient la photo*/
.cadre {
  overflow: hidden;
  padding : 5px ;
  width: 6.8em;
  height: 8em;
  display: flex;
  justify-content:center;
  align-items: center;
  grid-column: 1/3;
  grid-row: 3/7;
  margin: 0 auto; /* permet de centrer le cadre au texte en gardant le centrage de la photo */
}



.apercu > div > h2, .apercu > div >h3{
  font-size: 0.8em;
  grid-column: 1/5;
  grid-row: 1/2;
  text-align: center;
}

.apercu > div > .latin{
  grid-column: 1/5;
  grid-row:2/3;
  text-align: center;
}

.apercu > div > .volume{
  grid-column: 1/3 ;
  grid-row:7/8 ;
  margin-left: 10px;
}

.apercu > div > .prix{
  grid-column: 3/5 ;
  grid-row: 7/8  ;
}

.apercu > div > .quantite{
  grid-column: 1/5;
  grid-row: 8/9; 
  margin-left: 10px;
}

.apercu > div > .details{
  grid-column: 1/5 ;
  grid-row: 9/10 ;
}



img:hover {
  opacity: 0.5;
}

.marge25{
  margin-left: 25px;
}

.reco .marge25, .reco .bloc{
  width: 30%
}

table, td {
  border:1px;
  border-style: double;
  border-color: rgb(51, 50, 50);
}

.reco{
  display:flex;
  flex-wrap: wrap;
  margin: 0.5em;
  justify-content: space-around;
}



